:root {
  --lightColor: #f6f1ee;
  --orangeColor: #ed7d31;
  --greyColor: #494443;
  --lightGeyColor: #4f4a45;
}
body {
  margin: 0px;
  background-color: var(--lightColor);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background-color: var(--orangeColor);
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 24px;
  color: var(--lightColor);
  font-weight: bold;
}

.search-field {
  height: 30px;
  width: 200px;
  border: 1px solid black;
  font-size: 20px;
  margin: 12px;
}

.title {
  display: flex;
  flex-direction: row;
}

.meal-body {
  display: flex;
  flex-wrap: row;
  justify-content: space-between;
}

.body {
  margin: 12px;
}

.title {
  font-size: 24px;
  color: var(--greyColor);
  font-weight: 900;
}
#instruction {
  font-size: 18px;
}
#ing-table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 400px;
  font-size: 18px;
}

#loader {
  height: 100px;
  width: 100px;
  display: none;
}
